server:
  port: 8766
spring:
  application:
    name: eurekaclient 
eureka:
  instance:
    prefer-ip-address: true
    hostname: ${spring.cloud.client.ipAddress}
    instance-id: ${spring.cloud.client.ipAddress}:${spring.application.name}:${server.port}
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
management:
  security:
    #关闭安全验证，否则访问refresh端点时会提示权限不足
    enabled: false